{% extends "base.html" %}
{%load static%}
{%block title_name%}
Категории
{%endblock%}

{%block content%}

<h1>Категории</h1>
<a href="{% url 'category_create' %}" class="add-link">Добавить категорию</a>
<ul class="item-list">
    {% for item in category_list %}
    <li class="item-card">
        <a href="{% url 'category_detail' item.pk %}" class="item-name">{{ item.name }}</a>
        <a href="{% url 'category_update' item.pk %}" class="action-edit">Редактировать</a>
        <a href="{% url 'category_delete' item.pk %}" class="action-delete">Удалить</a>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'home' %}" class="back-link">На главную</a>

{%endblock%}