{% extends "base.html" %}
{%load static%}
{%block title_name%}
{{ accessory.name }}
{%endblock%}

{%block content%}

<h1>{{ accessory.name }}</h1>
<div class="detail-info">
    <p>{{ accessory.description }}</p>
    <p>Цена: {{ accessory.price }} рублей</p>
    <p>Размер: {{ accessory.size }}</p>
    <p>Цвет: {{ accessory.color }}</p>
    <p>Доступность: {% if accessory.is_exists %}Да{% else %}Нет{% endif %}</p>
    <p>Категория: {{ accessory.category }}</p>
    <p>Коллекция:
        {% for col in accessory.collection.all %}
            {{ col.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
</div>
{% if accessory.photo %}
    <img src="{{ accessory.photo.url }}" alt="{{ accessory.name }}" class="detail-photo">
{% endif %}
<br>
<a href="{% url 'accessory_list' %}" class="back-link">Вернуться к списку аксессуаров</a>

{%endblock%}