{% extends "base.html" %}
{%load static%}
{%block title_name%}
Коллекции
{%endblock%}

{%block content%}

<h1>Коллекции</h1>
<a href="{% url 'collection_create' %}" class="add-link">Добавить коллекцию</a>
<ul class="item-list">
    {% for item in collection_list %}
    <li class="item-card">
        <a href="{% url 'collection_detail' item.pk %}" class="item-name">{{ item.name }}</a>
        <a href="{% url 'collection_update' item.pk %}" class="action-edit">Редактировать</a>
        <a href="{% url 'collection_delete' item.pk %}" class="action-delete">Удалить</a>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'home' %}" class="back-link">На главную</a>

{%endblock%}